/* Main Style Sheet for Portfolio*/

/*===  Reset Styles ===*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
		font-family: 'Quicksand', sans-serif;

}

/*=== Intro Text ===*/

#hidden-body {
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

#hidden-content {
	width: 100%;
	text-align: center;
	position: relative;
	top: 30%;
}

#hidden-content h1 {
	color: #fff;
	font-size: 4em;
	letter-spacing: .5em;
	font-weight: 700;
}

#hidden-content span{
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	display: inline-block;
}

/*=== End Intro Styles ===*/

#main-wrapper {
	/*background: url('bg.jpg'), linear-gradient(#e66465, #9198e5);*/
/*	background-size: cover;*/
	height: 100vh;
}


header {
	padding: 40px;
}

.logo {
	float: left;
}

.logo h1{
	color: #fff;
}

nav ul {
	float: right;
}

nav ul li {
	display: block;
	list-style-type: none;
	padding: 20px 10px 0 0;
}

nav ul li a {
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
	padding: 10px;
	text-decoration: none;
	padding-top: 10px;
}

nav ul li a:hover {
	text-decoration: line-through;
}

#main-wrapper {
/*	background-image: radial-gradient(#1c1c1c 50%, #0b0b0b 50%);
background-size: 4px 4px;*/

background-color: #1F1F1F;
}

main {
	clear: both;
}

.main-text h1 {
	color: #fff;
	font-size: 4em;
	padding-left: 40px;
	margin-top: 20%;
	font-family: 'Roboto', "sans-serif";
	letter-spacing: 3px;
}

.main-text p{
	color: #C4AC70;
	padding-left: 40px;
}

.box {
	float: left;
	width: 33.3%;
	height: 400px;
	background-color: #050505;
	border: 10px solid #000;
}



/*=== Media Screens ===*/

@media screen and (max-width: 700px){
	#hidden-content p{
		font-size: 15px;
	}
}
